doctype html
html(ng-class='html')
  head
    title(ng-bind='title')= path.substring(1).toUpperCase() || 'FAKER'

    //- meta headers
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(http-equiv='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    base(href='#{hosts.base}')

    //- lib styles
    - lib.each('style', function(url){
      link(rel='stylesheet', href='#{url}')
    - })

    //- custom styles
    link(rel='stylesheet', href='#{hosts.dist}/styles/main.css')

  body(ng-class='body')
    header.container
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            a.navbar-brand(href='/') FAKER
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/github') github
              li
                a(href='/perforce') perforce
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/login') login
              li 
                a(href='/register') register

    main.container
      .jumbotron
        h1= path.substring(1).toUpperCase() || 'A Fake Name'

    footer.container-fluid.faker-footer(role='contentinfo')
      p.align-center 
        a(href='#{ICP.url}')= ICP.id

    //- lib scripts
    - lib.each('script', function(url){
      script(src='#{url}')
    - })

    //- custom scripts
    script(src='#{hosts.dist}/scripts/app.js')