doctype html
html(ng-class='html')
  head
    title(ng-bind='title') loading

    //- meta headers
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8;')
    meta(http-equiv='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

    base(href='#{hosts.base}')

    link(rel='shortcut icon', href='#{hosts.static}img/icon/main.ico')

    //- lib styles
    - statics.each('style', function(url){
      link(rel='stylesheet', href='#{url}')
    - })

  body(ng-class='body')
    header.container
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            a.navbar-brand(href='/') FAKER
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/github') github
              li
                a(href='/perforce') perforce
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/login') login
              li
                a(href='/register') register

    main.container(ng-view)
      .jumbotron.align-center
        h1 loading ...

    footer.container-fluid.faker-footer(role='contentinfo')
      p.align-center
        a(href='#{ICP.url}')= ICP.id

    script.
      (function(win){
        'use strict';
        win.faker = {};
        win.faker.hosts = !{JSON.stringify(hosts)};
      })(window);

    - statics.each('script', function(url){
      script(src='#{url}')
    - })